
<div>
    <form method="post" action="Account/login">
        <input type="text" name="username" />

        <input type="text" name="password" />

        <button type="submit">Login</button>

        <a href="/Authentication/Register">for Register</a>

    </form>
</div>