<div>
    <form method="post" action="Account/register">
        <input type="text" name="username" />
        <input type="text" name="password" />
        <input type="text" name="confirm-password" />
        <button type="submit">Register</button>
    </form>
</div>